{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 Métodos para Localizar Patrones</title>
    <link rel="stylesheet" href="{% static 'proyecto_7_app/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>3 Métodos para Localizar Patrones</h1>
        <div class="btn-group">
            <button onclick="location.href='algoritmoKMP/'">Algoritmo Knuth-Morris-Pratt</button>
        </div>
    </div>
</body>
</html>